In [ ]:
import math
print(dir(math))

In [ ]:
from math import factorial
print(factorial(4))

In [ ]:
from math import pi
print(pi)

In [ ]:
from math import log10
log10(1000)

In [ ]:
import string as str
print(str.punctuation)
print(str.digits)

In [ ]:
import datetime 
print(datetime.datetime.today())
print(datetime.date.today())
print(datetime.datetime.now())

In [ ]:
import datetime
print(datetime.date(632,6,8)-datetime.date(571,4,22))
print(datetime.date(2022,3,23)-datetime.date(1992,12,7))

In [ ]:
from random import choice
city = ['Stockholm','Istanbul','Seul','Cape Town']
choice(city)